# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg
.Python
env/
venv/
.venv/
*.whl

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
.vscode/

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Environment
.env
.env.local
